.hero {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 65vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 2;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  margin-top: 10rem;
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 20rem;
  color: #ccd6f6;
  z-index: 15;
}

.text p {
  font-size: 3rem;
  color: #64ffda;
  margin-bottom: 24px;
  margin-top: 2rem;
}

.text div {
  margin-top: 2rem;
  color: #64ffda;
}
