.navbar {
  background: #03050a;
  width: 100%;
  height: auto;
  padding: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 7rem;
  height: 7rem;
  transition: all 0.2s;
  border-radius: 30%;
}

.navbar-logo:hover {
  border: 2px solid #64ffda;
}

.nav-list {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  justify-content: center;
  display: flex;
  color: #ccd6f6;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s;
}

.number {
  color: #64ffda;
  margin-right: 6px;
}

.nav-link:hover {
  color: #64ffda;
  font-size: 20px;
}

.nav-link:hover p {
  color: #fff;
}

.resume-btn {
  letter-spacing: 1px;
  font-family: "Rubik";
  font-size: 17px;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  background-color: #64ffda;
  border: 1px solid #64ffda;
  color: #0a192f;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0 0 0 0 #0a192f;
  transition: 0.3s ease-out;
}

.resume-hamburger-btn {
  margin-top: 3rem;
  letter-spacing: 1px;
  width: 150px;
  font-family: "Rubik";
  font-size: 17px;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  background-color: #0a192f;
  border: 1px solid #64ffda;
  color: #64ffda;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0 0 0 0 #0a192f;
  transition: 0.3s ease-out;
}

.resume-hamburger-btn:hover {
  box-shadow: inset 150px 0 0 #64ffda;
  color: #0a192f;
}

.resume-btn:hover {
  box-shadow: inset 150px 0 0 #0a192f;
  color: #64ffda;
}

.menu-wrap {
  display: flex;
  z-index: 5;
  overflow: hidden;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: relative;
  z-index: 1;
  width: 55px;
  height: 55px;
  padding: 1rem;
  background: #64ffda;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #0a192f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.85s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgb(10, 25, 47, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 24px;
  padding: 3rem;
  transition: all 0.2s ease;
}

.menu-wrap .menu > div > div > ul > li:hover {
  color: #64ffda;
  font-size: 30px;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

@media (max-width: 768px) {
  .menu-wrap {
    display: block;
  }

  .resume-btn {
    display: none;
  }

  .nav-list {
    display: none;
  }
}
